<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Desafio - GoNode</title>
  </head>
  <body>
    <form action="/check" method="POST">
      <input type="text" name="nome" />
      <input type="date" name="idade" />
      <button type="submit">Verificar</button>
    </form>
  </body>
</html>